.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #222222;
  border-radius: 6px;
  padding: 18px 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

.card__title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  max-width: calc(100% - 85px);
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #8B8B8B;
  margin: 0;
}

.card__preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__preview:hover {
  cursor: pointer;
}

.card__btn {
  width: 100px;
  height: 30px;
  align-self: center;
  border-radius: 30px;
  border: none;
  padding: 0;
  background-color: #313131;
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.card__btn_active {
  background-image: url(../../images/add-btn.svg);
}

.card__btn_type_delete {
  background-image: url(../../images/delete-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.transparency-btn {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.transparency-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 934px) {
  .card__preview {
    height: 190px;
  }
}

@media screen and (max-width: 720px) {
  .card {
    gap: 14px;
    padding: 14px 0;
  }

  .card__info {
    padding: 0 14px;
  }

  .card__title {
    font-size: 12px;
    max-width: calc(100% - 75px);
  }

  .card__duration {
    font-size: 10px;
  }

  .card__preview {
    height: 168px;
  }
}