.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 95px;
}

@media screen and (max-width: 934px) {
  .movies {
    padding: 79px 0 100px;
  }
}

@media screen and (max-width: 720px) {
  .movies {
    padding-bottom: 88px;
  }
}