.portfolio {
  width: 100%;
}

.portfolio__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #8B8B8B;
  margin: 0 0 50px;
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  margin-top: 21px;
  padding-bottom: 8px;
}

.portfolio__links-element {
  border-bottom: 1px solid #424242;
}

.portfolio__links-element:last-child {
  border-bottom: none;
}

.portfolio__link-title {
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
}

.portfolio__arrow {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
}

.transparency-link {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.transparency-link:hover {
  opacity: 70%;
}

@media screen and (max-width: 934px) {
  .portfolio__link-title {
    font-size: 28px;
  }

  .portfolio__link {
    align-items: revert;
    padding-bottom: 9px;
  }

  .portfolio__links-element {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__arrow {
    font-size: 28px;
  }
}

@media screen and (max-width: 720px) {
  .portfolio__title{
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__link {
    padding-bottom: 18px;
  }

  .portfolio__link-title {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    font-size: 18px;
    line-height: 28px;
  }
}