.promo {
  padding-top: 20px;
  box-sizing: border-box;
}

.promo__content {
  max-width: calc(100% - 80px);
  margin: 0 auto;
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  max-width: 730px;
  color: #fff;
  margin: 160px 0 151px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 934px) {
  .promo__content {
    max-width: calc(100% - 40px);
  }

  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    margin: 350px 0 314px;
  }
}

@media screen and (max-width: 720px) {
  .promo {
    padding-top: 14px;
  }

  .promo__content {
    max-width: calc(100% - 28px);
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    margin: 220px 0 212px;
  }
}