.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,.5);
}

.popup_active {
  visibility: visible;
}

.popup__container {
  max-width: 520px;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  transition: .3s;
  transform: translateX(100%);
}

.popup__container_active {
  transform: translateX(0);
}

@media screen and (max-width: 720px) {
  .navigation {
    gap: 14px;
  }
}
