.form {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin: 0 0 40px;
  color: #fff;
}

.form__label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8B8B8B;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.form__label:last-of-type {
  margin-bottom: 47px;
}

.form__label_type_auth:last-of-type {
  margin-bottom: 135px;
}

.form__field {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  color: #fff;
  background-color: #2F2F2F;
  outline: none;
  border: none;
  border-radius: 8px;
}

.form__field:invalid {
  color: #EE3465;
}

.form__field:hover {
  box-shadow: 0 1px 5px rgb(66, 133, 244, .9);
}

.form__field:focus {
  box-shadow: 0 1px 5px rgb(66, 133, 244, .9);
}
/* Обход слета стилей при автозаполнении */
.form__field:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #2F2F2F;
  -webkit-text-fill-color: #fff;
  -webkit-border-radius: 8px;
}

.form__field:-webkit-autofill:focus {
  box-shadow: 0 1px 5px rgb(66, 133, 244, .9), inset 0 0 0 50px #2F2F2F;
}

.form__field:-webkit-autofill:hover {
  box-shadow: 0 1px 5px rgb(66, 133, 244, .9), inset 0 0 0 50px #2F2F2F;
}
/* ------------------------------------- */

.form__field::placeholder {
  color: #8B8B8B;
}

.form__validation-error {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  display: block;
  color: #EE3465;
  overflow-wrap: anywhere;
}

.form__btn-submit {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  height: 45px;
  background-color: #4285F4;
  border: none;
  margin-top: 20px;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;
}

.transparency-btn {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.transparency-btn:hover {
  opacity: 80%;
}

.form__btn-submit_disabled_true {
  pointer-events: none;
  color: rgba(0, 0, 0, .2);
  background: #2f2f2f;
}

.form__title_type_profile {
  text-align: center;
  margin-bottom: 123px;
}

.form__label_type_profile {
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  color: #fff;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .form {
    width: 260px;
  }

  .form__title {
    text-align: center;
    margin: 0 0 80px;
  }

  .form__label:last-of-type {
    margin-bottom: 124px;
  }

  .form__btn-submit {
    font-size: 12px;
    line-height: 15px;
  }

  .form__label_type_auth:last-of-type {
    margin-bottom: 223px;
  }
}
