.header {
  max-width: 1280px;
  min-height: 74px;
  display: flex;
  align-items: center;
}

.header__content {
  max-width: calc(100% - 140px);
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__burger-btn_type_dis-active-menu {
  width: 44px;
  height: 44px;
  background-image: url(../../images/burger-icon.svg);
}

.header__burger-btn_type_close {
  z-index: 1;
  width: 22px;
  height: 22px;
  background-image: url(../../images/burger-close.svg);
  background-position: 50%;
}

.header__burger-btn_type_active-menu {
  display: block;
  position: fixed;
  top: 25px;
  right: 28px;
}

.transparency-btn {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.transparency-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 934px) {
  .header__content {
    max-width: calc(100% - 60px);
  }

  .header__burger-btn {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .header__content {
    max-width: calc(100% - 28px);
  }

  .header__burger-btn_type_dis-active-menu {
    width: 40px;
    height: 43px;
    background-image: url(../../images/burger-icon-mini.svg);
  }

  .header__burger-btn_type_active-menu {
    top: 20px;
    right: 20px;
  }
}